html {
  text-align: center;
  font-family: "Helvetica";
}

ul.options {
  text-align: center;
  padding: 0px;
}

ul.options li {
  display: inline-block;
  text-decoration: none;
  padding: 0px 10px;
}
ul.books {
  text-align: center;
  padding: 0px;
}

ul.books li {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 0px;
}
